table {
  width: 100%;
}

table th {
  text-align: left;
  color: var(--color-dark-secondary);
  padding: 24px;
}

table td {
  border-top: 1px solid var(--color-border);
  padding: 24px;
}

table .row:hover {
  cursor: pointer;
  background-color: var(--color-light-secondary);
}
