body {
  margin: 0;
  background-color: var(--color-light-secondary);
}

:root {
  --color-dark-primary: #19181b;
  --color-dark-secondary: #6e6f77;
  --color-dark-red: #ca3b33;
  --color-dark-green: #4ca154;
  --color-dark-blue: #5e9ef8;
  --color-dark-orange: #eba157;
  --color-dark-cyan: #2aa1a1;

  --color-light-primary: #ffffff;
  --color-light-secondary: #fafafa;
  --color-light-red: #fce8e8;
  --color-light-green: #e2fbe8;
  --color-light-blue: #e9f6fe;
  --color-light-orange: #fbf7eb;
  --color-light-cyan: #defcfc;

  --color-border: #e4e4e7;

  font-family: "Inter", sans-serif;
  color: var(--color-dark-primary);
}

/* helper styles */

.container {
  padding: 24px;
}

h1 {
  margin: 0;
}

.border {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

a {
  color: var(--color-dark-primary);
  text-decoration: underline;
}

input {
  color: var(--color-dark-primary);
}

input::placeholder {
  color: var(--color-dark-secondary);
}

input:focus {
  outline: none;
}

.btn {
  font-size: 16px;
  padding: 12px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dark-button {
  border: 1px solid var(--color-light-primary);
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}

.danger-button {
  border: 1px solid var(--color-light-primary);
  background-color: var(--color-dark-red);
  color: var(--color-light-primary);
}

.light-button {
  border: 1px solid var(--color-dark-secondary);
  background-color: var(--color-light-primary);
  color: var(--color-dark-primary);
}

.card {
  padding: 24px;
  background-color: var(--color-light-primary);
}

.card .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.card .header p {
  color: var(--color-dark-secondary);
}

.card .header button {
  margin-left: 12px;
}

.tag {
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.tag-secondary {
  color: var(--color-dark-secondary);
  border: 1px solid var(--color-dark-secondary);
  background-color: var(--color-light-secondary);
}

.tag-red {
  color: var(--color-dark-red);
  border: 1px solid var(--color-dark-red);
  background-color: var(--color-light-red);
}

.tag-green {
  color: var(--color-dark-green);
  border: 1px solid var(--color-dark-green);
  background-color: var(--color-light-green);
}

.tag-blue {
  color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-light-blue);
}

.tag-orange {
  color: var(--color-dark-orange);
  border: 1px solid var(--color-dark-orange);
  background-color: var(--color-light-orange);
}

.tag-cyan {
  color: var(--color-dark-cyan);
  border: 1px solid var(--color-dark-cyan);
  background-color: var(--color-light-cyan);
}
